.Post{
    width: 500px; /* Esto es el ancho total del principal contenedor del post*/
    border: 1px solid #dbdbdb; /* Esto diuja un borde alrededor del div padre con color gris clarito*/
    box-sizing: border-box; /*Esto evita que se haga mas grande el post al aplicarle border y padding*/
}

.post-header{
    display: flex; /*Esto hace que el cntenedor sea flexible, es decir que los elemenstos se muevan y hagan una fila horizontal*/
    justify-content: space-between; /*Esto hace que el contenido que hay en el contenedor tenga un espacio entre ellos*/
    align-items: center; /*Esto lo que hace es alinear los items que queden al centro del contenedor padre*/
    padding: 10px; /*Esto añade un espacio de 10px dentro del contenedor, para que haya una pequeña separacion, se puede probar lo que hace en inspeccion del codigo */
}

.html5-rigo{
    margin-right: 70%; /*Esto lo que hace es que el html5 y el rigoberto se mueven a la izquierda 70% del contenedor padre, permtiendo asi que no se queden en el centro*/
    font-size: 10px; /*Esto le da un tamaño de 10px para que sea un poco mas pequeño*/
    font-family: "Roboto"; /*Esto es la fuente del texto */
}

.fa-brands.fa-html5{
    font-size: 25px;/*Esto defie el tamaño del icono del html5*/
}

.fa-solid.fa-ellipsis-vertical{
    font-size: 25px; /*Esto defie el tamaño del icono de 3 puntos verticales*/
}

.html5{
    margin: 0; /*Aqui hemos quitado el margin para que no haya tanta separacion entre el texto del html5 y rigoberto*/
}

.rigoberto{
    margin: 0;/*Aqui tambien hemos quitado el margin para que no haya tanta separacion*/
}
.image1{
    width: 100%; /*Aqui le decimos a la imagen que ocupe el 100% de su contenedor*/
}

.post-body{
    padding: 10px; /*Esto lo que hace es crear una separacion de 10px entre el contenido del y el propio div padre para que el contenido no se quede tan pegado al borde*/
}

.post-icons{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.post-icons-to-left{
    display: flex;
    gap: 15px; /*Esto lo que hace es crear un espacio de 5 píxeles entre los iconos que contiene el contenedor padre*/
}

